<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.css" />
    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
    <script src="milestones.js"></script>
    <script src="shipments.js"></script>
    <script>
        var myApp = angular.module('myApp', ['ngGrid']);
        // not using this yet, but eventually it will be handy
        var currentDate = new Date("03/06/2015");
        // no shipment has been selected on the left side at outset, so we don't show milestones
        var currentShipmentMilestones = [];

        myApp.controller("MyCtrl", function ($scope) {
            $scope.Milestones = milestones;
            $scope.CurrentShipmentMilestones = currentShipmentMilestones;

            // I have not yet updated the shipments to use awb's
            $scope.Shipments = shipments;
            $scope.ShipmentColumnDefinitions = [{ field: 'AWB', displayName : 'AWB' }, {field: 'shipper', displayName: 'Shipper' },
                                        { field: 'consignee', displayName: 'Consignee' }];

            $scope.MilestoneColumnDefinitions = [{ field: 'MilestoneType', displayName: 'Milestone Type' },
                             { field: 'DateDue', displayName: 'Date Due' }, { field: 'DateCompleted', displayName: 'Date Completed' }];

            // Shipments is the data for the grid (in quotes, which is weird, but that's how AngularJS wants it)
            // We also provide the column definitions
            $scope.shipmentOptions = {
                data: 'Shipments',
                columnDefs: 'ShipmentColumnDefinitions',
                selectedItems: [],
                multiSelect: false,
                rowTemplate: '<div ng-style="{ \'background-color\' : getColorCoding(row.entity) }" >' +
                                            '<div ng-style="{ \'cursor\': row.cursor }" ng-repeat="col in renderedColumns" ng-class="col.colIndex()" class="ngCell {{col.cellClass}}">' +
                                                '<div class="ngVerticalBar" ng-style="{height: rowHeight}" ng-class="{ ngVerticalBarVisible: !$last }">&nbsp;</div>' +
                                                '<div ng-cell></div>' +
                                            '</div>' +
                                      '</div>'
            }

            // same idea as for shipment grid
            $scope.milestoneOptions = {
                data: 'CurrentShipmentMilestones',
                columnDefs: 'MilestoneColumnDefinitions',
                selectedItems: [],   // we're not using this array at the present time
                multiSelect: false
            }

            // in the div below, you see that we execute this function whenever the shipment grid is clicked
            $scope.showSelectionMilestones = function () {
                var selectedShipment = $scope.shipmentOptions.selectedItems[0];

                $scope.CurrentShipmentMilestones = [];

                for (var i = 0; i < $scope.Milestones.length; i++) {
                    if ($scope.Milestones[i].AWB == selectedShipment.AWB ) {
                        // display milestones in grid on the right side, if 'Date Completed' is not empty
                        //if ($scope.Milestones[i].DateCompleted != "")
                            $scope.CurrentShipmentMilestones.push($scope.Milestones[i]);
                    }
                }
            }

            $scope.getColorCoding = function(row) {
                var dateDue, dateCompleted, color = "green";

                for (var i = 0; i < $scope.Milestones.length; i++) {
                    if ($scope.Milestones[i].AWB == row.AWB) {
                        dateDue = new Date($scope.Milestones[i].DateDue);
                        if ($scope.Milestones[i].DateCompleted == "") {
                            if (dateDue < currentDate) {
                                color = "red";
                            } else {
                                if (dateDue.getTime() === currentDate.getTime()) {
                                    color = "yellow";
                                }
                            }
                            break;
                        }
                    }
                }
                return color;
            }
   
        });
    </script>

    <style>
        .gridStyle {
            font-family: helvetica;
            font-size: small;
            border: 1px solid rgb(212,212,212);
            width: 450px;
            height: 300px;
        }
     </style>
</head>
<body ng-app="myApp">
    <div ng-controller="MyCtrl">
        <div style="display: inline-block; vertical-align:  top">
            <div class="gridStyle" ng-grid="shipmentOptions" data-ng-click="showSelectionMilestones()">
            </div>
            <!--<pre>{{shipmentOptions.selectedItems}}</pre>-->
        </div>
        <div style="display: inline-block; vertical-align:  top">
            <div class="gridStyle" ng-grid="milestoneOptions">
            </div>
        </div>
    </div>
</body>
</html>
