<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.css" />
    <script src="https://code.jquery.com/jquery-1.11.2.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-grid/2.0.11/ng-grid.min.js"></script>
    <script>
        var myApp = angular.module('myApp', ['ngGrid']);
        myApp.controller("MyCtrl", function ($scope) {
            $scope.myData = [{ shipper: "Shanghai Auto Parts Mfg, No. 348, Yuanqu Road, Anting Town, Jiading Dist., Shanghai, China (Mainland)", consignee: "ABC Co., Los Angeles, CA", airWaybill: 089-6934265-5, shipmentDate: 02/04/2015, arrivalDate: 02/12/2015},
                            { shipper: "Happy Trading CA, 27 Shaughnesey St., Vancouver, BC, Canada", consignee: "Happy Trading USA, 200 West Grand Ave., Woodstock, WI", airWaybill: 014-3218614-4, shipmentDate: 02/05/2015, arrivalDate: 02/09/2015},
                            { shipper: "Ideal Systems, 2/F, Tower Two, 88 Container Port Road, HK", consignee: "Apple, 1 Infinite Loop, Cupertino, CA", airWaybill: 043-2139573-4, shipmentDate: 02/07/2015, arrivalDate: 02/13/2015},
                            { shipper: "IO Supply Company, 63 Renmin Lu, Qingdao Shi, 266033 Shandong, China", consignee: "McDonald's, 2111 McDonald's Dr., Oak Brook, IL 60523", airWaybill: 089-0347293-4, shipmentDate: 02/13/2015, arrivalDate: 02/20/2015},
                            { shipper: "ABI Global, Inc., Urion 30, Puerto Juarez, 02860 Mexico, D.F., Mexico", consignee: "Amazon Com, 410 Terry Avenue North, Seattle, WA 98109", airWaybill: 078-3751392-4, shipmentDate: 02/13/2015, arrivalDate: 02/18/2015}];
            $scope.myColumnDefs = [{ field: 'shipper', displayName: 'Shipper' },
                                        { field: 'consignee', displayName: 'Consignee'}];
            $scope.myOptions = {
                data: 'myData',
                columnDefs: 'myColumnDefs',
                selectedItems: [],
                multiSelect: true,
                showGroupPanel: true,
                rowTemplate:   '<div style="height: 100%" ng-class="{green: row.getProperty(\'price\') > 20}">' + 
                    '<div ng-repeat="col in renderedColumns" ng-class="col.colIndex()" class="ngCell ">' +
                      '<div ng-cell></div>' +
                    '</div>' +
                 '</div>'

            }

            $scope.selectSugarRow = function () {
                angular.forEach($scope.myData, function (data, index) {
                    console.log(data.name);
                    if (data.name == "Sugar") {
                        $scope.myOptions.selectItem(index, true);
                    }
                });
            }
        });
    </script>

    <style>
        .gridStyle {
            font-family: helvetica;
            font-size: small;
            border: 1px solid rgb(212,212,212);
            width: 600px;
            height: 300px;
        }

        .green {
            background-color: green;
            color: white;
        }

        .selectedItems {
            float: left;
        }
    </style>
</head>
<body ng-app="myApp">
    <div ng-controller="MyCtrl">
        <div class="gridStyle" ng-grid="myOptions">
        </div>
        <button ng-click="selectSugarRow()">Select Sugar Row</button>
        <pre>{{myOptions.selectedItems}}</pre>
    </div>
</body>


</html>
